body{
	text-align: center;
	background-image: url("double-bubble-dark.png");
}

ul{
	list-style-type:none;
	padding-left: 0px;
}

div {
	background-color: purple;
	color: gold;
}

h3{
	color: gold;
	font-family: "Passion One", cursive;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 0px;
	font-stretch: wider;
}
h4{
	color: gold;
	font-family:"Times New Roman";
	font-weight:bold;
	font-size: 70px;
}
h5{
	columns: auto;
	border: 10px red;
	font-stretch: expanded;
	font-weight: bold;
	
}


p{
	font-family: Arial;
	font-weight: bold;
}



a {
	color: gold;
	font-size: 25px;
	font-weight: bold;
	font-family: verdana;
}
	
#Header{
	border:8px black solid;

	width: 500px;

	/* Centered the item */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;

}
#Header h1{
	font-size: 60px;
	font-family: "Passion One", cursive;
	color: gold;
	font-weight: bold;
	text-align: center;
}

#LeftNav{
	border:8px black solid;
	width: 400px;

	/* Centered the item */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;

	float:left;
	padding-bottom: 8px;
	
}
#RightNav{
	border:8px yellow;
	width: 600px;

	/* Centered the item */
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;

	float:right;
	padding-bottom: 8px;
}



#Content{
	border: 8px black solid;

	width:700px;

	/* Centered the item */
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 10px;
	padding: 15px;
}


#Footer{
	border: 8px black solid;

	/* Centered the item */
	margin-left: auto;
	margin-right: auto;
}

#bow{
	color: gold;
}



